/* Home.css */
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('cosmari2.jpg') no-repeat center center fixed; /* Fissa lo sfondo */
  background-size: cover; /* Copre l'intera area */
}

/* Contenitore principale */
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: rgba(243, 244, 246, 0.9); /* Maggiore opacità per leggibilità */
  border-radius: 10px;
  width: 100%;
  max-width: 600px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
}

/* Logo in alto a destra */
.logo {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 100px; /* Adatta la dimensione */
  height: auto;
}
