/* Contenitore dei pulsanti (orario, grafico, mappa) */
.button-container {
    display: flex;
    justify-content: center;
    gap: 30px; /* Spazio tra i pulsanti */
    margin-bottom: 20px; /* Distanza dal contenuto sottostante */
  }
  .button {
    padding: 10px 20px;
    border-radius: 8px;
    color: black; /* Colore del testo nero */
    cursor: pointer;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3); /* Sfondo bianco trasparente */
    border: 2px solid rgba(255, 255, 255, 0.6); /* Bordo bianco trasparente */
    transition: all 0.3s ease; /* Aggiunta transizione per effetto hover */
  }
  
  /* Pulsante "Grafico" con bordo bianco trasparente */
  .button-a-barre {
    border-color: rgba(255, 99, 132, 0.6); /* Bordo rosso trasparente */
  }
  
  